@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");


.category_list2 button
{
    padding: 4px;
    background-color: rgb(107, 107, 107);
    color: white;
    margin: 4px 4px;
    border: none;
    font-size: 14px;
}

.category_list2 :hover
{
    background-color: rgb(27, 179, 179);
}

.comment h2
{
    font-size: 30px;
}
.comment p
{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #a3a3a3;
    font-family: "Rubik", sans-serif;
}

.field
{
    width: 100%;
    font-family: "Rubik", sans-serif;
}

#comment , #c_name, #c_email, #subject
{
    background-color: #F8F9FA;
    border: 1px solid #a3a3a3 ;
}
#comment
{
    width:630px;
    height: 200px;
    margin-top: 15px;
    padding: 5px 0 0 5px;
}
#c_name, #c_email, #subject
{
    margin: 10px 6px 0 0;
    padding: 8px 20px 8px 6px;

}
#comment:focus , #c_name:focus, #c_email:focus , #subject:focus
{
    outline: none;
    border: 2px solid rgb(27, 179, 179);
}

#post
{
    padding: 8px 10px;
    color: white;
    background-color: rgb(27, 179, 179);
    border: 1px solid white;
    border-radius: 3px;
    margin-top: 10px;
    font-size: 14px;
}

#post:hover
{
    color: rgb(46, 46, 46);
    background-color: transparent;
    border-color: rgb(27, 179, 179);
}

@media screen and (min-width: 350px) 
{
    #comment
    {
        width:352px;
        height: 200px;
        margin-top: 15px;
        padding: 5px 0 0 5px;
    }
    #c_name, #c_email, #subject
    {
        margin: 8px 4px 0 0;
        padding: 8px 165px 8px 6px;

    }

}

@media screen and (min-width: 400px) 
{

    #comment
    {
        width:391px;
        height: 200px;
        margin-top: 15px;
        padding: 5px 0 0 5px;
    }
    #c_name, #c_email, #subject
    {
        margin: 8px 4px 0 0;
        padding: 8px 205px 8px 6px;

    }

}

@media screen and (min-width: 700px) 
{

    #comment
    {
        width:337px;
        height: 150px;
        margin-top: 15px;
        padding: 5px 0 0 5px;
    }
    #c_name, #c_email, #subject
    {
        margin: 8px 4px 0 0;
        padding: 8px 150px 8px 6px;

    }

}

@media screen and (min-width: 1020px) 
{

    #comment
    {
        width:457px;
        height: 150px;
        margin-top: 15px;
        padding: 5px 0 0 5px;
    }
    #c_name, #c_email, #subject
    {
        margin: 8px 4px 0 0;
        padding: 8px 10px 8px 6px;

    }
}

@media screen and (min-width: 1230px) 
{

    #comment
    {
        width:547px;
        height: 200px;
        margin-top: 15px;
        padding: 5px 0 0 5px;
    }
    #c_name, #c_email, #subject
    {
        margin: 8px 4px 0 0;
        padding: 8px 10px 8px 6px;

    }
}

@media screen and (min-width: 1281px) 
{

    #comment
    {
        width:630px;
        height: 200px;
        margin-top: 15px;
        padding: 5px 0 0 5px;
    }
    #c_name, #c_email, #subject
    {
        margin: 8px 4px 0 0;
        padding: 8px 20px 8px 6px;

    }
}
